body {
	font-family: Montserrat;
	font-style: Regular;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 4%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

button {
	cursor: pointer;
	background: rgba(78, 117, 255, 1);
	font-weight: 500;
	width: 91px;
	height: 40px;
	border-radius: 8px;
	border: none;
}

button:hover {
	background: rgba(108, 140, 255, 1);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.form {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin: 32px auto;
}

input {
	border: 1px solid rgba(128, 128, 128, 1);
	border-radius: 4px;
	font-size: 16px;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	width: 272px;
	height: 40px;
	padding-left: 16px;
	color: rgba(128, 128, 128, 1);
}

input:hover {
	border: 1px solid rgba(0, 0, 0, 1);
}

input:focus {
	border: 1px solid rgba(78, 117, 255, 1);
}

.loader {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	border: 6px solid #ccc;
	border-top-color: #2196f3;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	z-index: 9999;
}

.hidden {
	display: none;
}

@keyframes spin {
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}